# Copyright (c) 2022, Qualcomm Innovation Center, Inc. All rights reserved.

# Permission to use, copy, modify, and/or distribute this software for any
# purpose with or without fee is hereby granted, provided that the above
# copyright notice and this permission notice appear in all copies.

# THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
# WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
# ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
# WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
# ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
# OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.

# Simple configuration examples

config dbfile
        option filename '/var/obuspa/usp.db'

config localagent
        option endpointid 'proto::AgentA'

config controller
        option endpointid 'proto::ControllerA'
        option alias 'ControllerTest'
        option enable 'true'

config mtp
        option enable 'true'
        option protocol 'MQTT'
        option reference 'Device.MQTT.Client.1'
        option responsetopicconfigured '/usp/endpoint/Ag1'

config mqtt
        option brokeraddress '10.52.255.94'
        option protocolversion '5.0'
        option brokerport '1883'
        option transportprotocol 'TCP/IP'
        option username 'user'
        option password 'pass'
        option alias 'cpe-1'
        option enable 'true'
        option keepalivetime '60'
        option connectretrytime '5'
        option connectretryintervalmultiplier '2000'
        option connectretrymaxinterval '60'
